<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css"/>
    <style>[v-cloak] {display: none}</style>
</head>
<body>

<div class="container" id="app" v-cloak>
    <div class="card">
        <h1>План по изучению Vue.js</h1>
        <div class="steps">
            <div class="steps-content">
               <p>{{steps[activeIndex].text}}</p>
            </div>
            <ul class="steps-list">
                <li
                        class="steps-item"
                        v-for="({title}, idx) in steps"
                        :class="idx === activeIndex? 'active' : idx < activeIndex && 'done'"
                >
                    <span @click="setActive(idx)">{{idx + 1}}</span>&nbsp;{{title}}
                </li>
            </ul>
            <div>
                <button class="btn"
                        @click="prev"
                        v-if="!isHiddenBtn"
                        :disabled="!currentIndex"
                >Назад
                </button>
                <button
                        :class="!isHiddenBtn ? 'btn primary' : 'btn'"
                        @click="!isHiddenBtn ? nextOfFinish() : reset()"

                >{{buttonContent}}
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
